<p style="color: green"><%= notice %></p>

<%= render @account %>

<%= button_to "Deposit", "#" %>
<%= button_to "Withdraw", "#" %>
<%= button_to "Bank transfer", "#" %>
<%= button_to "Bank statement", "#" %>

<%= link_to "Close account", "#" %>