<p style="color: green"><%= notice %></p>

<%= render @account %>

<div>
  <%= link_to "Edit this account", edit_account_path(@account) %> |
  <%= link_to "Back to accounts", user_accounts_path(current_user) %>

  <%= button_to "Destroy this account", @account, method: :delete %>
</div>
