<p style="color: green"><%= notice %></p>
<% if current_user.account.is_active? %>
    <%= render @account %>

    <%= button_to "Deposit", user_account_deposit_path(current_user, current_user.account), method: :get, class: "btn btn-primary" %>
    <%= button_to "Withdraw", user_account_withdraw_path(current_user, current_user.account), method: :get, class: "btn btn-primary" %>
    <%= button_to "Bank transfer", user_account_transfer_path(current_user, current_user.account), method: :get, class: "btn btn-primary" %>
    <%= button_to "Bank statement", user_account_statement_path(current_user,current_user.account), method: :get, class: "btn btn-primary" %>

    <%= button_to "Close account", user_account_close_path(current_user, current_user.account),  class: "btn btn-danger" %>
<% else %>
    <h1>This account is closed</h1>
<% end %>
