<p style="color: red"><%= notice %></p>

<h1>Bank statement</h1>

<%= form_tag user_account_statement_path(current_user,current_user.account), method: :get do %>
  <%= date_field_tag :start_date,
      params[:start_date],
      class: "form-control" %>
  <%= date_field_tag :end_date,
      params[:end_date],
      class: "form-control" %>
  <%= submit_tag "Search", class: "btn" %>
<% end %>

<table class="table caption-top">
  <caption>Your bank statement</caption>
    <thead>
    <tr>
      <th>Transaction Id</th>
      <th>Transfer Type</th>
      <th>Value</th>
      <th>Date</th>
      <% debug(@transactions) %>
    </tr>
  </thead>
  <tbody>

  <% @transactions.each do |c| %>
      <tr>
        <td><%= c.id %></td>
        <td><%= c.kind %></td>
        <td><%= c.value %></td>
        <td><%= c.created_at.strftime('%m/%d/%Y at %H:%M') %></td>
      </tr>

  <% end %>
  </tbody>
</table>